@import "../../main";

body {
  background-color: $color-background-white;

  .content {
    margin-bottom: 70px;

    .card-section {
      margin-top: 80px;
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      width: 100%;

      .card-h2 {
        @include font-h-2;
        margin-bottom: 50px;
      }
      .card-container {
        width: 80%;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(wrap);
        @media screen and(max-width: $break-medium) {
          width: 90%;
        }
      }
    }
  }
}
