@import "../../main";

.content {
  padding-bottom: 70px;
  background-color: $color-blue;

  .card-section {
    padding-top: 80px;
    box-sizing: border-box;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    width: 100%;

    .card-h2 {
      @include font-h-2;
      padding-bottom: 30px;
      color: $color-text-white;
    }
    .card-container {
      width: 80%;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      @include flex-wrap(wrap);
      @media screen and(max-width: $break-medium) {
        width: 90%;
      }
    }
  }
}
