@import "../../main";

.faq-container {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  background-color: $color-blue;
  padding: 60px 0 100px 0;
  width: 100%;

  .heading-box {
    max-width: 1300px;
    width: 80%;
    .h2-faq {
      @include font-h-2();
      margin-bottom: 0;
    }
  }

  .faq-box {
    max-width: 1300px;
    border-bottom: solid 2px $color-background-light-blue;
    box-sizing: border-box;
    padding: 30px 40px;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(left);
    width: 80%;

    @media screen and(max-width: $break-small) {
      padding: 50px 20px;
      width: 88%;
    }
    .h4-question {
      @include font-h-4();
    }

    .p-answer {
      @include font-regular-text;
    }
  }
}
