@import "../../main";

.instagram-section {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: auto;
  padding-top: 60px;
  background-color: $color-background-white;

  .instagram-box {
    max-width: 1300px;
    width: 80%;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    border: 4px solid $color-blue;
    border-radius: 10px;
    background-color: $color-background-white;
    margin: 100px 0;

    .instagram-heading {
      @include font-h-2;
      background-color: $color-background-white;
      color: $color-blue;
      margin-top: -24px;
      text-align: center;
      padding: 0 20px 0 20px;
      @media screen and(max-width: $break-medium) {
        margin-top: -19px;
      }
      @media screen and(max-width: $break-small) {
        margin-top: -17px;
      }
    }
    .instagram-hashtag-box {
      a {
        text-decoration: none;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        .instagram-logo {
          width: 50px;
          margin: 16px;
        }
        .instagram-hashtag {
          @include font-h-3;
          color: $color-blue;
        }
      }
    }
    .instagram-image-box {
      @include flexbox;
      @include flex-wrap(wrap);
      @include align-items(center);
      @include justify-content(center);
      width: 90%;
      margin: 20px 0 80px 0;
      .instagram-img {
        border-radius: 10px;
      }

      .instagram-link {
        max-width: calc(22.5% - 20px);
        margin: 10px;
        border-radius: 10px;
        @media screen and(max-width: 900px) {
          max-width: calc(45% - 20px);
        }
        @media screen and(max-width: 640px) {
          max-width: 90%;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
