@import "../../main";

.instagramSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 80px;
  background-color: $color-background-white;

  .instagram-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid $color-blue;
    border-radius: 10px;
    background-color: $color-background-white;
    margin-bottom: 150px;

    .instagramHeading {
      @include font-h-2;
      background-color: $color-background-white;
      margin-top: -30px;
      width: 40%;
      text-align: center;
      @media screen and(max-width: 900px) {
        width: 60%;
      }
      @media screen and(max-width: 640px) {
        width: 90%;
      }
    }
    .instagramHashtagBox {
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .instagramLogo {
          width: 50px;
          margin: 16px;
        }
        .instagramHashtag {
          @include font-h-3;
        }
      }
    }
    .instagram-image-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin: 20px 0 80px 0;
      .instagram-image {
        border-radius: 10px;
      }

      .instagram-img {
        max-width: calc(22.5% - 20px);
        margin: 10px;
        border-radius: 10px;
        @media screen and(max-width: 900px) {
          max-width: calc(45% - 20px);
        }
        @media screen and(max-width: 640px) {
          max-width: 90%;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
