@import "../../main";
.card {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  width: 325px;
  height: auto;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 1px -1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 8px 8px 8px 8px;
  .p-card {
    @include font-regular-text;
    color: black;
  }
  @media screen and(max-width: $break-small) {
    margin: 8px 8px 30px 8px;
  }

  @media screen and(max-width: $break-small - 100) {
    margin: 8px 8px 30px 8px;
    width: 300px;
  }

  @media screen and(max-width: $break-small - 100) {
    width: 300px;
  }

  .card-top {
    @include flexbox;
    width: 325px;
    @media screen and(max-width: $break-small - 100) {
      width: 300px;
    }

    .card-top-img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      margin: 20px;
    }

    .card-top-text {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(start);
      @include justify-content(center);
      .card-h4 {
        @include font-h-4;
        margin: 0;
        padding-bottom: 8px;
      }
      .card-p {
        @include font-regular-text;
        color: black;
        margin: 0;
      }
    }
  }

  .card-middle {
    background-size: cover;
    width: 325px;
    height: 200px;

    @media screen and(max-width: $break-small - 100) {
      width: 300px;
    }
  }

  .card-bottom {
    @include flexbox;
    @include flex-direction(column);
    width: 325px;
    @media screen and(max-width: $break-small - 100) {
      width: 300px;
    }
    .card-p {
      margin-left: 20px;
    }
    #semester {
      margin-top: 0;
    }
    .button {
      @include font-button-text;
      margin: 20px;
      background-color: $color-blue;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12);
      text-decoration: none;
      padding: 10px 16px;
      border-radius: 7px;
      width: 120px;
      font-weight: 500;
    }
  }
}
