@import "../../main";

.crediting-container {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  background-color: $color-blue;
  width: 100%;
  .crediting-info-container {
    max-width: 1300px;
    width: 80%;
    padding: 60px 0 80px 0;
    @media screen and(max-width: $break-small) {
      width: 88%;
    }
    .h2-crediting {
      @include font-h-2;
      padding-bottom: 30px;
    }
    .p-crediting {
      @include font-regular-text;
    }
    .info-body-link {
      @include font-in-text-link;
    }
  }

  .category-container {
    width: 100%;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    padding: 30px 0 70px 0;
    background-color: $color-background-light-blue;

    .category-box {
      max-width: 1300px;
      width: 80%;
      padding: 30px 0;
      @media screen and(max-width: $break-small) {
        width: 88%;
      }
      .h2-crediting {
        @include font-h-2;
        padding-bottom: 30px;
      }
      .university-box {
        padding-bottom: 20px;
        .h3-crediting {
          @include font-h-3;
          text-align: left;
        }
        .p-crediting {
          @include font-regular-text;
        }
      }
    }
  }
}
