@import "../../main";
.before-trip {
  .text-beforeTrip-container {
    background-color: $color-blue;
    width: 100%;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(column);
    @include align-items(center);
    padding: 60px 0 100px 0;
    .h2-beforeTrip {
      @include font-h-2;
      margin-bottom: 15px;
    }
  }
}
