@import "../../main";
.interview {
  background-color: $color-blue;
  .banner-interview {
    position: relative;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    background-size: cover;
    height: 450px;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        rgba(15, 24, 51, 0),
        rgba(15, 24, 51, 0.5)
      );
    }
  }
  .images-interview {
    width: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    background-color: $color-background-white;
  }

  .text-interview-container {
    width: 100%;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(column);
    @include align-items(center);
    padding: 60px 0 100px 0;

    .h2-interview {
      @include font-h-2;
    }
  }
}
