@import "../../main.scss";

.agreements{
  background-color: $color-blue;
  .info-content{
    @include flexbox;
    @include flex-direction(column); 
    @include align-items(center);
    @include justify-content(center);
    .info-top{
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(flex-start);
      width: 70%;
      h2{
        @include font-h-2;
        color:$color-text-white;
        margin-top: 100px;
        
      }
      p{
        @include font-regular-text;
        a{
          @include font-in-text-link;
        }
      }
      ul{
        list-style-type: none;
        margin:0;
        padding:0;
        li{
          margin:10px 0 10px 0;
        }
        a{
          @include font-text-link;
          text-decoration: none;
        }

      }

    }
    .open-button{
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      img{
        width: 50px;
      }
      p{
        @include font-regular-text;
      }
      &.no-show{
        display: none;
      }
    }
    .content-process{
      display: none;
      margin-top: 100px;
      background-color: $color-background-light-blue;
      .close-button{
        width: 50px;
        transform: rotate(180deg);
      }
      &.open{
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        
        
      }
    }
  }
}