@import "../../main.scss";

.agreements {
  background-color: $color-blue;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);

  .section-1 {
    width: 100%;
    border-bottom: 2px solid $color-background-light-blue;
  }
  .section-2 {
    width: 100%;
    border-bottom: 2px solid $color-background-light-blue;
  }
  .section-3 {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    padding: 50px 0 100px 0;
    width: 100%;
    background-color: $color-blue;
    .heading-div {
      width: 80%;
      @include flexbox;
      @include justify-content(center);
      h2 {
        @include font-h-2;
      }
    }
    .box-div {
      width: 80%;
      @include flexbox;
      @include align-items(flex-start);
      @include justify-content(center);
      padding-top: 30px;
      @media screen and(max-width: $break-medium + 256) {
        @include flex-wrap(wrap);
      }
      @media screen and(max-width: $break-small + 256) {
        width: 90%;
        margin: 20px 0 20px 0;
      }
    }
  }
  .button {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include font-regular-text;
    color: $color-text-white;
    cursor: pointer;
    .arrow {
      width: 40px;
    }
    &.arrow-up {
      transform: rotate(180deg);
      padding-bottom: 60px;
    }
    &.arrow-down {
      padding-bottom: 60px;
      &.no-show {
        display: none;
      }
    }
  }
  .process-section {
    width: 100%;
    background-color: $color-background-light-blue;
    display: none;
    padding: 40px 0 60px 0;
    &.open {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
    }
  }
}
