@import "../../main";

.home {
  .quote-container {
    background-color: $color-blue;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;

    .quote-box {
      display: flex;
      justify-content: center;
      width: 80%;
      flex-wrap: wrap;
    }
  }

  .process-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: $color-background-white;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 50%;
      left: 0;
      background-color: #0f1833;
    }

    .process-wraper {
      z-index: 100;
      display: flex;
      flex-direction: column;
      background-color: $color-background-white;
      border: solid 4px #0f1833;
      border-radius: 10px;
      width: 80%;
      justify-content: center;
      align-items: center;
      #h2-process {
        @include font-h-2;
      }
    }
    .process-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  }
}
