@import "../../main";

.home {
  .quote-container {
    background-color: $color-blue;
    width: 100%;
    @include flexbox;
    @include justify-content(center);
    padding-bottom: 100px;

    .quote-box {
      @include flexbox;
      @include justify-content(center);
      width: 80%;
      @include flex-wrap(wrap);
    }
  }

  .process-container {
    width: 100%;
    @include flexbox;
    @include justify-content(center);
    position: relative;
    background-color: $color-background-white;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 50%;
      left: 0;
      background-color: #0f1833;
    }

    .process-wraper {
      z-index: 100;
      @include flexbox;
      @include flex-direction(column);
      background-color: $color-background-white;
      border: solid 4px #0f1833;
      border-radius: 10px;
      width: 80%;
      @include justify-content(center);
      align-items: center;
      #h2-process {
        @include font-h-2;
        color: $color-blue;
      }
    }
    .process-box {
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(center);
      align-items: center;
      margin-top: 20px;
    }
  }
}
