@import "../../main";

.home {
  .quote-container {
    background-color: $color-blue;
    width: 100%;
    display: flex;
    justify-content: center;
    .quote-box {
      display: flex;
      justify-content: center;
      width: 90%;
      flex-wrap: wrap;
    }

    .instagram-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
