@import "../../main.scss";

.Navbar {
  background-color: rgba(15, 24, 51, 0.8);
  @include flexbox;
  @include align-items(center);
  position: fixed;
  width: 100%;
  z-index: 150;
  @media screen and(min-width: 1300px) {
    @include justify-content(center);
  }
  @media screen and(max-width: 1300px) {
    @include justify-content(flex-end);
  }
  @media screen and(max-width: $break-medium) {
    @include justify-content(flex-start);
  }
  .desktop-menu-options {
    margin: 20px 0;
    @media screen and(max-width: $break-medium) {
      display: none;
    }
    .navigation-link {
      @include font-nav-link;
      margin: 0 20px;
    }
  }
}
