@import "../../main.scss";
.agreement-text {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  width: 100%;
  background-color: $color-blue;
  .text {
    @include flexbox;
    @include flex-direction(column);
    width: 80%;
    padding: 60px 0;
    @media screen and(max-width: $break-small) {
      width: 88%;
    }

    .link {
      @include font-in-text-link;
    }
    .heading {
      @include font-h-2;
      text-align: center;
      padding-bottom: 30px;
    }
    .info {
      @include font-regular-text;
      margin-top: 0;
    }
    .link-box {
      .description {
        @include font-regular-text;
      }
      .list {
        list-style: none;
        margin: 0;
        padding: 0;
        .list-item {
          margin: 12px 0 12px 0;
          a {
            @include font-text-link;
          }
        }
      }
    }
  }
}
