@import "../../main";

.travelProcess {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(center);
  width: 210px;
  height: 250px;
  padding: 0 20px;

  #process-icon {
    height: 70px;
    width: auto;
    padding-bottom: 20px;
  }

  #process-header {
    @include font-h-4;
    text-align: center;
  }
  #process-info {
    @include font-regular-text;
    color: black;
    text-align: center;
  }
}
