@import "../../main";

.profile-cover {
  @include flexbox;
  @include flex-wrap(wrap);
  z-index: 100;
  max-width: 80%;
  margin-top: 50px;
  background-color: $color-background-white;
  border-radius: 10px;
  .profile-cover-img {
    height: 220px;
    width: 220px;
    border-radius: 10px 0 0 10px;
    @media screen and( max-width: $break-medium ) {
      border-radius: 100px;
      height: 100px;
      width: auto;
      margin-top: 30px;
    }
  }
  .profile-cover-text {
    height: 220px;
    width: 450px;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    text-align: center;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    padding: 30px;

    #profile-title {
      @include font-h-3();
      color: $color-blue;

      @media screen and( max-width: $break-medium ) {
        @include font-h-4();
        text-align: center;
      }
    }
    #profile-subtitle {
      @include font-regular-text;
      color: $color-blue;
      font-weight: bold;

      @media screen and( max-width: $break-medium ) {
        font-weight: normal;
      }
    }
    @media screen and( max-width: $break-medium + 69px ) {
      width: 350px;
    }
    @media screen and( max-width: $break-medium ) {
      width: 100%;
      padding: 0 20px;
      @include justify-content(initial);
      margin-top: 30px;
    }
  }
  @media screen and( max-width: $break-medium ) {
    width: 280px;
    height: 300px;
    @include justify-content(center);
  }
}
