@import "../../main";

.interview-images {
  margin: 100px 0px;
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  width: 90%;

  .image-1 {
    height: 380px;
    width: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;

    @media screen and( max-width: $break-medium + 203 ) {
      height: auto;
      width: 500px;
    }
    @media screen and( max-width: $break-small + 145 ) {
      height: auto;
      width: 330px;
    }
    @media screen and( max-width: $break-small - 99 ) {
      height: auto;
      width: 310px;
    }
  }

  .image-box-right {
    @include flexbox;
    @include flex-direction(column);

    .image-2 {
      height: 190px;
      width: auto;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 20px;

      @media screen and( max-width: $break-medium + 203 ) {
        height: auto;
        width: 500px;
      }
      @media screen and( max-width: $break-small + 145 ) {
        height: auto;
        width: 330px;
      }
      @media screen and( max-width: $break-small - 99 ) {
        height: auto;
        width: 310px;
      }
    }
    .image-3 {
      height: 190px;
      width: auto;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 20px;

      @media screen and( max-width: $break-medium + 203 ) {
        height: auto;
        width: 500px;
      }
      @media screen and( max-width: $break-small + 145 ) {
        height: auto;
        width: 330px;
      }
      @media screen and( max-width: $break-small - 99 ) {
        height: auto;
        width: 310px;
      }
    }
  }
  @media screen and( max-width: $break-medium ) {
    margin: 80px 0px;
    @include flex-wrap(nowrap);
    @include flex-direction(column);
  }
}
