@import "../../main";
.interview-images {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  .image-1 {
    height: 200px;
    width: auto;
  }
  .image-2-3 {
    @include flexbox;
    @include flex-direction(column);
    .image-2 {
      height: 100px;
      width: auto;
    }
    .image-3 {
      height: 100px;
      width: auto;
    }
  }
}
