@import "../../main";

.text-interview-box {
  @include flexbox;
  @include justify-content(space-between);
  width: 80%;
  margin: 30px;

  .interview-question {
    @include font-h-3;
    width: 25%;
  }
  .interview-answer {
    @include font-regular-text;
    color: black;
    width: 70%;
  }
}
