@import "../../main";

.text-interview-box {
  @include flexbox;
  @include justify-content(space-between);
  width: 70%;
  margin: 30px 0;

  .info-heading {
    @include font-regular-text;
    //color: black;
    font-weight: bold;
    width: 30%;
    box-sizing: border-box;
    @media screen and( max-width: $break-small + 145 ) {
      width: 100%;
    }
  }
  .info-body-text {
    @include font-regular-text;
    //color: black;
    width: 60%;
    box-sizing: border-box;
    a {
      @include font-in-text-link;
    }
    @media screen and( max-width: $break-small + 145 ) {
      width: 100%;
    }
  }
  .info-body-link {
    @include font-text-link;
  }
  @media screen and( max-width: $break-small + 145 ) {
    @include flex-direction(column);
    margin: 0;
    width: 90%;
  }
}
