@import "../../main";

footer {
  background-color: $color-blue;
  @include flexbox;
  @include justify-content(center);
  border-top:1px solid $color-background-light-blue;
}
.p-footer {
  @include font-footer-text;
  padding: 20px;
  margin: 0;
}
